.random__button {
  opacity: 0.8;
  font-size: 0.5em;

  padding: 1em;
  margin: 1.5em;
  background-color: #f1f1f1f1;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
  outline: none;
  /* transition: background-color 0.2s linear; */
  /* -ms-transition: background 0.5s linear; Explorer 10 */
}
.random__button:hover {
  background-color: #4fc01a;
  color: #f1f1f1f1;
  opacity: 1;
  transition: all 0.2s ease-in;
}
.container__grad {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.gradient__single {
  padding: 2.4em;
  margin: 1.2em;
  border-radius: 0.3em;
}
.gradient__text {
  display: flex;
  font-size: 0.5em;
}
